body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  background-color: beige;
}
h1{
  margin-top: -100px;
  color:  rgb(131, 72, 0);
  font-family: sans-serif;
  background-color: rgb(188, 221, 250);
  border-radius: 10px;
  padding: 8px; 
}

#display {
  background-color: bisque;
  width: 220px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.buttons {
  padding: 15px;
  background-color: rgb(188, 221, 250);
  border-radius: 20px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: bisque;
  color: black;
  border: 2px solid white;
  border-radius: 10px;
}
