.block{ 
    margin: 10px;
    float: left;
    height: 400px;
    width: 400px;
    border: 5px solid slateblue;
}

.u{
    animation: u 1s infinite alternate ;
}

@keyframes u{
    0% {transform:translateY(350px)}
    100% {transform:translateY(-15px)}


}
.d{
    animation: d 1s infinite alternate ;
}

@keyframes d{
    0% {color: rgb(87, 67, 212);
         
        transform:translateX(350px)}
    100% {color: rgb(223, 9, 9);
         
        transform:translateX(10px)}


}

.a{
    animation: a 1s infinite alternate;
}

@keyframes a{
    0% {font-size: 70px;
        transform:translateX(300px) translateY(250px)}
    100% {font-size: 10px;
        transform:translateX(10px)}


}


 
